h1{
    text-align: center;
    color: brown;
    background-color: red;
}

p{
    color: blue;
    text-decoration: wavy;
}
h1{
    text-align: center;
    color: yellowgreen;
    background-color: red;
}